<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Create New Client</h2>

<form method="POST" action="/clients">
  <input type="text" placeholder="Name:" name="name">
  <input type="submit" value="Create Client">
</form>
