<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Create New Project</h2>

<form method="POST" action="/projects">
  <input type="text" placeholder="Description:" name="description">
  <input type="text" placeholder="Priority:" name="priority">
  <input type="text" placeholder="Budget:" name="budget">
  <input type="submit" value="Create Project">
</form>
