<h3>Keep track of the projects you are managing, including:</h3>
<ul><i>
  <li>Project Number</li>
  <li>Project Name</li>
  <li>Delivery Date</li>
  <li>Budget Remaining</li>
  <li>Status</li>
</i></ul>
